@model ProyTecniServer.Models.Cliente

@{
    ViewBag.Title = "Eliminar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ELIMINAR CLIENTE</h2>

<h3>¿Está seguro de eliminar este cliente?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ELIMINAR" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
